<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gyocheol</title>
</head>
<body>
    <h1>코로나 전과 후의 공실률 비교</h1>

    <a href="#before">코로나 전</a>
    <br>
    <a href="#after">코로나 후</a>
    <br>
    <a href="#all">코로나 전과 후</a>
    <br>
    <div id="before">
        <img src="static/images/2018-19_empty.png">
    </div>
    <div id="after">
        <img src="static/images/2020-21_empty.png">
    </div>
    <div id="all">
        <img src="/static/images/bar.png">
    </div>

    
</body>
</html>