<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
        <title>어 느새 부터 heap.pop() 안멋조</title>
        <!-- Core theme CSS (includes Bootstrap)-->

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">heap.pop()조 시각화 목록</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/time_week_sub">코로나 이전과 이후의 시간대별-요일별 지하철 이용자 추이 : 안문주</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'commute' %}">대중교통 월별 출,퇴근시간 시각화 : 김순복</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/seongheon">대중교통 전년도 동월 대비 출퇴근 인원 변화율 : 조성헌</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/covid_dif_map">대중교통 코로나 전 후 총 이용량 지도 시각화 : 안문주</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/sol">출퇴근 집중 지역 산출과 코로나 전 후 유입량 비교 : 권솔</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/gyocheol">사무실 지역의 공실률 현황 : 강교철</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Index Switch</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
<!--                                <li class="nav-item active"><a class="nav-link" href="#">Notion</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="#">Drive</a></li>-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">개요 정리 사이트</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="https://mungdo.notion.site/2d12e7c6bb2c47ab8dacca63b505dcbf">Notion</a>
                                        <a class="dropdown-item" href="https://drive.google.com/drive/folders/1JsNSLGX_gmDqjd5FV3Qfu7fk6KF_z3qO">Drive</a>
<!--                                        <div class="dropdown-divider"></div>-->
<!--                                        <a class="dropdown-item" href="#!">Something else here</a>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">프로젝트 : 코로나로 인해 재택근무가 많아지고 있는지 살펴보기</h1>
                    <p style="font-size:15pt">코로나 전후 출퇴근 교통 이용량, 사무실 공실률 등 다양한 지표를 통해 실제 재택근무 변화를 관찰하고자 한다.</p>
                    <br>
                    <h3>사용 데이터 목록</h2>
                    <table class='table'>
                      <colgroup>
                          <col width='350px'">
                          <col width='250px'>
                          <col width='500px'>
                          <col width='500px'>
                      </colgroup>
              
                      <thead class="table-primary">
                          <tr>
                              <th>시각화 제목</th>
                              <th>사용 데이터</th>
                              <th>해당 데이터 사용 목적</th>
                              <th>columns</th>
                          </tr>
                      
                      <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tfoot>
                          
                      </thead>
                      <tbody>
                          <tr>
                              <td>코로나 이전과 이후의 시간대별-요일별 지하철 이용자 추이</td>
                              <td><a href="https://drive.google.com/file/d/19y7TdtfRo7qPBJHmRxED75m3CKY1alI-/view?usp=sharing">18_21_요일_시간별_지하철_승객수.csv</a></td>
                              <td>2018년~2021년 11월 까지의 지하철 승객의 시간대, 요일 정보를 가져오기 위해</td>
                              <td>['날짜', '호선', '역번호', '역명', '~ 06', '06 ~ 07', '07 ~ 08', '08 ~ 09',
                                '09 ~ 10', '10 ~ 11', '11 ~ 12', '12 ~ 13', '13 ~ 14', '14 ~ 15',
                                '15 ~ 16', '16 ~ 17', '17 ~ 18', '18 ~ 19', '19 ~ 20', '20 ~ 21',
                                '21 ~ 22', '22 ~ 23', '요일', '23 ~']</td>
                          </tr>
                          <tr>
                              <td>대중교통 월별 출,퇴근시간 시각화</td>
                              <td><a href="https://drive.google.com/file/d/12Oy9DLp7YOTZ0Q5KtCCPbV58VoTYvy0s/view?usp=sharing">버스 연도별 출퇴근.csv</a></td>
                              <td>2018년~21년 출근 퇴근 시간대 버스 승객정보를 가져오기 위해</td>
                              <td>['사용년월', '출근', '퇴근', '총버스이용객수']</td>
                          </tr>
                          <tr>
                              <td>대중교통 전년도 동월대비 출퇴근 인원 변화율</td>
                              <td><a href="https://drive.google.com/file/d/1wQYZ289eVUEN-uxMfOTPCxNO-_FWc40L/view?usp=sharing">지하철_시간대별_인원정보(위치정보_최종).csv</a></td>
                              <td>2018~2021년 지하철 월별 출퇴근 시간 이용자 수 추이를 파악하기 위해</td>
                              <td>['사용월', '호선명 지하철역', '07시-08시 하차인원', '08시-09시 하차인원', '09시-10시 하차인원','17시-18시 승차인원', '18시-19시 승차인원', '19시-20시 승차인원', 'lat', 'lng']</td>
                          </tr>
                          <tr>
                              <td>대중교통 전년도 동월대비 출퇴근 인원 변화율</td>
                              <td><a href="https://drive.google.com/file/d/1B7s4RaQMNVMHW1-Rtc_SM1uRScLKp24c/view?usp=sharing">버스_출퇴근_총_인원정보_2101수정완료.csv</a></td>
                              <td>2018~2021년 버스 월별 출퇴근 시간 이용자 수 추이를 파악하기 위해</td>
                              <td>['사용년월', '노선번호', '노선명', '표준버스정류장ID', '역명', '경도', '위도', '출근', '퇴근', '총 이동량']</td>
                          </tr>
                          <tr>
                              <td>대중교통 전년도 동월대비 출퇴근 인원 변화율</td>
                              <td><a href="https://drive.google.com/file/d/1FcLTLibJSm1PMo1IQ8F8ta63jW5GoH3z/view?usp=sharing">df_new.csv</a></td>
                              <td>2018년~2021년 출근 퇴근 시간대 지하철 승객정보를 가져오기 위해</td>
                              <td>['사용월', '호선명', '지하철역', '07시-08시 하차인원', '08시-09시 하차인원',
                                '09시-10시 하차인원', '17시-18시 승차인원', '18시-19시 승차인원', '19시-20시 승차인원', 'lat',
                                'lng', '출근 시간대 인원', '퇴근 시간대 인원']</td>
                          </tr>
                          <tr>
                              <td>대중교통 코로나 전 후 총 이용량 비교</td>
                              <td><a href="https://drive.google.com/file/d/1L-UwF8JhJ3zh4O1pecA6IPyR0SECXS94/view?usp=sharing">sub_2018.csv</a></td>
                              <td>코로나 이전의 지하철 승객이 많은 지하철 역을 보기 위해 (상위 25% 선정)</td>
                              <td>['사용월', '호선명', '지하철역', '07시-08시 하차인원', '08시-09시 하차인원',
                                '09시-10시 하차인원', '17시-18시 승차인원', '18시-19시 승차인원', '19시-20시 승차인원']</td>
                          </tr>
                          <tr>
                              <td>대중교통 코로나 전 후 총 이용량 비교</td>
                              <td><a href="https://drive.google.com/file/d/1L-UwF8JhJ3zh4O1pecA6IPyR0SECXS94/view?usp=sharing">버스_출근퇴근_총_인원정보와_근처_지하철_2101수정완료.csv</a></td>
                              <td>지하철 역 부근에 위치한 버스 정류장 정보를 가져오기 위해</td>
                              <td>['사용년월', '노선번호', '노선명', '표준버스정류장ID', '역명', '경도', '위도', '출근', '퇴근',
                                '총 이동량', 'line', 'name', 'lat', 'lng', 'distance']</td>
                          </tr>
                          <tr>
                              <td>출퇴근 집중 지역 산출과 코로나 전 후 유입량 비교</td>
                              <td><a href="https://drive.google.com/file/d/1vO-dd-sDkf8Qkzf80oBJ7gHkFE9Todtr/view?usp=sharing">2018_2021년버스</a></td>
                              <td>2018년~2021년 출근 퇴근 시간대 버스 승객정보와 위치를 가져오기 위해</td>
                              <td>['사용년월','표준버스정류장ID','역명','위도','경도','lat','lng','6시승차총승객수','7시승차총승객수','8시승차총승객수','9시승차총승객수','16시승차총승객수','17시승차총승객수','18시승차총승객수','19시승차총승객수',6시하차총승객수','7시하차총승객수','8시하차총승객수','9시하차총승객수','16시하차총승객수','17시하차총승객수','18시하차총승객수','19시하차총승객수']</td>
                          </tr>
                          <tr>
                              <td>출퇴근 집중 지역 산출과 코로나 전 후 유입량 비교</td>
                              <td><a href="https://drive.google.com/file/d/1HvlPxAuUjY0wZZ1RUFD5Rnw6hjUpclXf/view?usp=sharing">sub_18_21</a></td>
                              <td>2018년~2021년 출근 퇴근 시간대 지하철 승객정보와 위치 가져오기 위해</td>
                              <td>['사용월','호선명','지하철역','lat','lng','07시-08시 승차인원','08시-09시 승차인원','09시-10시 승차인원','17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원','07시-08시 하차인원','08시-09시 하차인원','09시-10시 하차인원','17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']</td>
                          </tr>
                          <tr>
                              <td>사무실 지역의 공실률 현황</td>
                              <td><a href="https://drive.google.com/drive/folders/1UH17fcVs02mcVqBtcaikGyP3I6vQSNQ7">18_공실률.xls, 19_공실률.xls, 20_공실률.xls, 21_공실률.xls</a></td>
                              <td>해당 년도의 서울 지역의 공실률을 파악하고 바 그래프를 시각화 위해 전처리 하기 위해</td>
                              <td>['기간', '광역상권', '하위상권', '임대료', '공실률', '수익률 정보', '수익률 정보.1', '수익률 정보.2']</td>
                          </tr>
                          <tr>
                              <td>사무실 지역의 공실률 현황</td>
                              <td><a href="https://drive.google.com/file/d/1v3e-RF0hDcOoN05CnFD_UT8qc06OplLD/view?usp=sharing">2018~2021 공실률 평균.csv</a></td>
                              <td>코로나 전 후 공실률 바 그래프를 시각화 하기 위해</td>
                              <td>['Unnamed: 0', '하위상권', '공실률_x_x', '공실률_y_x', '평균_x', '공실률_x_y',
                                       '공실률_y_y', '평균_y']</td>
                          </tr>
                      </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script>
            /*!
            * Start Bootstrap - Simple Sidebar v6.0.3 (https://startbootstrap.com/template/simple-sidebar)
            * Copyright 2013-2021 Start Bootstrap
            * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
            */
            //
            // Scripts
            //

            window.addEventListener('DOMContentLoaded', event => {

                // Toggle the side navigation
                const sidebarToggle = document.body.querySelector('#sidebarToggle');
                if (sidebarToggle) {
                    // Uncomment Below to persist sidebar toggle between refreshes
                    // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                    //     document.body.classList.toggle('sb-sidenav-toggled');
                    // }
                    sidebarToggle.addEventListener('click', event => {
                        event.preventDefault();
                        document.body.classList.toggle('sb-sidenav-toggled');
                        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                    });
                }

            });

        </script>
    </body>
</html>
