<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>seongheon</h1>
    <button onclick=""></button>
    <div>
        <img src="/static/images/data1.png">
    </div>
    <div>
        <img src="/static/images/data2.png">
    </div>
    <div>
        <img src="/static/images/data3.png">
    </div>
    <div>
        <img src="/static/images/data4.png">
    </div>
    <div>
        <img src="/static/images/data5.png">
    </div>
    <div>
        <img src="/static/images/data6.png">
    </div>
</body>
</html>
