<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>어 느새 부터 heap.pop() 안멋조</title>
    <!--버튼 link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <!-- Core theme CSS (includes Bootstrap)-->

</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">heap.pop()조 시각화 목록</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="../">처음으로 돌아가기</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/time_week_sub">코로나 이전과 이후의 시간대별-요일별 지하철 이용자 추이 : 안문주</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'commute' %}">대중교통 월별 출,퇴근시간 시각화 : 김순복</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/seongheon">대중교통 전년도 동월 대비 출퇴근 인원 변화율 : 조성헌</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/covid_dif_map">대중교통 코로나 전 후 총 이용량 지도 시각화 : 안문주</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/sol">대중교통 이용객 시간별 변화 지도 : 권솔</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/gyocheol">사무실 지역의 공실률 현황 : 강교철</a>
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Index Switch</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <!--                                <li class="nav-item active"><a class="nav-link" href="#">Notion</a></li>-->
                            <!--                                <li class="nav-item"><a class="nav-link" href="#">Drive</a></li>-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">개요 정리 사이트</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                        href="https://mungdo.notion.site/2d12e7c6bb2c47ab8dacca63b505dcbf">Notion</a>
                                    <a class="dropdown-item"
                                        href="https://drive.google.com/drive/folders/1JsNSLGX_gmDqjd5FV3Qfu7fk6KF_z3qO">Drive</a>
                                    <!--                                        <div class="dropdown-divider"></div>-->
                                    <!--                                        <a class="dropdown-item" href="#!">Something else here</a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                <!-- 작성! -->
                <h1 class='mt-4'>전년도 동월대비 이용객 변화율</h1>
                <div>
                    <p>
                        대중교통
                        <input type="checkbox" name="tp" value="bus">버스
                        <input type="checkbox" name="tp" value="subway">지하철
                    </p>
                    <p>
                        이용객 변화율
                        <input type="checkbox" name="data" value="gw">출근
                        <input type="checkbox" name="data" value="lw">퇴근
                        <input type="checkbox" name="data" value="total">총 이용객
                    </p>

                    <p>
                        <button type="button" class="btn btn-primary" onclick="subbus()">선택</button>
                        <button type="button" class="btn btn-warning" onclick="clearchk()">취소</button>

                    </p>

                    <div id="imageList">

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap button-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script>
        /*!
        * Start Bootstrap - Simple Sidebar v6.0.3 (https://startbootstrap.com/template/simple-sidebar)
        * Copyright 2013-2021 Start Bootstrap
        * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
        */
        //
        // Scripts
        //

        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                //Uncomment Below to persist sidebar toggle between refreshes
                if (localStorage.getItem('sb|sidebar-toggle') === 'false') {
                    document.body.classList.toggle('sb-sidenav-toggled');
                }
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
    <script>
        function subbus() {
            clearDiv();
            const queryTp = "input[name='tp']:checked";
            const selectedTp = document.querySelectorAll(queryTp);
            const queryData = "input[name='data']:checked";
            const selectedData = document.querySelectorAll(queryData);
            for (const i of selectedTp) {
                for (const j of selectedData) {
                    selbox(i.value, j.value);
                }
            }
        }
        function selbox(tp, data) {

            switch (data) {
                case 'gw':
                    if (tp == 'bus') {
                        var newImage = document.createElement("img");
                        var newHead = document.createElement("h2");
                        newImage.setAttribute("src", "/static/images/data4.png");
                        newHead.innerHTML = "버스 2019년 2020년 동월 대비 출근 인원 변화율(%)";
                        document.getElementById('imageList').appendChild(newHead);
                        document.getElementById('imageList').appendChild(newImage);
                    } else {
                        var newImage = document.createElement("img");
                        var newHead = document.createElement("h2");
                        newImage.setAttribute("src", "/static/images/data1.png");
                        newHead.innerHTML = "지하철 2019년 2020년 동월 대비 출근 인원 변화율(%)";
                        document.getElementById('imageList').appendChild(newHead);
                        document.getElementById('imageList').appendChild(newImage);
                    }
                    break;
                case 'lw':
                    if (tp == 'bus') {
                        var newImage = document.createElement("img");
                        var newHead = document.createElement("h2");
                        newImage.setAttribute("src", "/static/images/data5.png");
                        newHead.innerHTML = "버스 2019년 2020년 동월 대비 퇴근 인원 변화율(%)";
                        document.getElementById('imageList').appendChild(newHead);
                        document.getElementById('imageList').appendChild(newImage);
                    } else {
                        var newImage = document.createElement("img");
                        var newHead = document.createElement("h2");
                        newImage.setAttribute("src", "/static/images/data2.png");
                        newHead.innerHTML = "지하철 2019년 2020년 동월 대비 퇴근 인원 변화율(%)";
                        document.getElementById('imageList').appendChild(newHead);
                        document.getElementById('imageList').appendChild(newImage);
                    }
                    break;
                case 'total':
                    if (tp == 'bus') {
                        var newImage = document.createElement("img");
                        var newHead = document.createElement("h2");
                        newImage.setAttribute("src", "/static/images/data6.png");
                        newHead.innerHTML = "버스 2019년 2020년 동월 대비 총 이용객 수 변화율(%)";
                        document.getElementById('imageList').appendChild(newHead);
                        document.getElementById('imageList').appendChild(newImage);
                    } else {
                        var newImage = document.createElement("img");
                        var newHead = document.createElement("h2");
                        newImage.setAttribute("src", "/static/images/data3.png");
                        newHead.innerHTML = "지하철 2019년 2020년 동월 대비 총 이용객 수 변화율(%)";
                        document.getElementById('imageList').appendChild(newHead);
                        document.getElementById('imageList').appendChild(newImage);
                    }
                    break;
            }


        }
        function clearDiv() {
            const imageNode = document.getElementById("imageList");
            while (imageNode.lastElementChild) {
                imageNode.removeChild(imageNode.lastElementChild);
            }

        }
        function clearchk() {
            const clearTp = "input[name='tp']";
            const allTp = document.querySelectorAll(clearTp);
            const clearData = "input[name='data']";
            const allData = document.querySelectorAll(clearData);
            for (const i of allTp) {
                i.checked = '';
            }
            for (const j of allData) {
                j.checked = '';
            }
            clearDiv();
        }

    </script>

</body>

</html>