<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>munju</title>
    <style>
        *{
            padding: 10px;
            margin: 0;
        }

        div{
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>2. 코로나 전후 시간대별-요일별 지하철 이용자 추이</h1>
    <br>
    <div>
        <img src="/static/images/time_week_sub/18년_요일_시간_히트맵.png">
    </div>
    <div>
        <img src="/static/images/time_week_sub/19년_요일_시간_히트맵.png">
    </div>
    <div>
        <img src="/static/images/time_week_sub/20년_요일_시간_히트맵.png">
    </div>
    <div>
        <img src="/static/images/time_week_sub/21년_요일_시간_히트맵.png">
    </div>
    <div>
        <img src="/static/images/time_week_sub/코로나_전_요일_시간_히트맵.png">
    </div>
    <div>
        <img src="/static/images/time_week_sub/코로나_후_요일_시간_히트맵.png">
    </div>
</body>
</html>
